
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Candidato</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
        <div class="login">
            <div><h1>Crear cuenta</h1></div>
            <div><h3>Registro de Candidato</h3></div>
            {% if mensaje %}
                <p>{{ mensaje }}</p>
            {% endif %}
            <form action="/registro" method="post">
                <div><label for="nombre" >Nombre completo:</label><br>
                <input type="text" id="nombre" name="nombre" placeholder="          En Mayusculas"><br><br></div>
                    
                <div><label for="email">Correo electrónico:</label><br>
                <input type="email" id="email" name="email" placeholder="     alguien@correo.com" required><br><br></div>

                <div><label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password" placeholder="                ****" ><br><br></div>

                <div><button type="submit">Registrarse</button></div>
            </form>

            <div><p>¿Ya tienes cuenta? <a href="/">Iniciar sesión</a></p></div>
        </div>
</body>
</html>
